<div class="container text-center ">
  <h1>Constellation</h1>
  <p>Find best Political Products</p>

  <p>
    We have a lots of <strong> new products </strong> on <%= @today %>
  </p>
 <%= link_to "All products", products_path, class: "btn btn-success" %>
</div>

